<section class="container">

  <h3>You are logged in as <%= current_user %></h3>

  <div class="jumbotron">
    <h1>welcome to miHealth   <img width=90 height=90 src="/images/logo.png"/></h1>
    <h4>your resource for personalized health care suggestions and reminders</h4>
  </div>

  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li <%= 'class="active"' if @active == 'home'  %>><a href="/">home</a></li>
          <!-- <li <%= 'class="active"' if @active == 'items' %>><a href="/items">Shop</a></li> -->
          <li <%= 'class="active"' if @active == 'about' %>><a href="/about">about</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><%#= link_to "Items", items_path %></li>
          <li><%#= link_to "New Item", new_item_path %></li> -->
          <% if signed_in? %>
            <li><%= link_to "my profile", user_path(current_user) %></li>
            <li><%= link_to "edit profile", edit_user_path(current_user) %></li>
            <li><%= link_to "sign out", signout_path, method: 'delete' %></li>
          <% else %>
            <li><%= link_to "sign up", signup_path %></li>
            <li><%= link_to "sign in", signin_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

</section>